<li>
  <%= link_to raw('<span class="icon"></span>') + truncate(category.name, :length => 35), root_url + "categorie/#{category.id}", :class => "label" %>
  <span class="statometru"><% category.rate %></span>
</li>