<li>
  <%= link_to truncate(institution.name, :length => 70), "/institutie/#{institution.id}", :class => "institution" %>
  <%= " #{truncate(institution.location.name, :length => 15)}" unless institution.location.nil? %>
  <span class="meta"><%= pluralize(institution.rate_count, 'vot', 'voturi') %></span>
</li>
