<% if @institutions %>
    <% if @institutions.blank? %>
        <div>Cautarea nu a returnat nimic</div>
    <% else %>
        <ul id="search">
          <% @institutions.each do |institution| %>
              <li>
                <%= link_to institution.name, "/institutie/#{institution.id}", :class => "institution" %>
                <%= " #{institution.location.name}" unless institution.location.nil? %>
                <span class="meta"><%= pluralize(institution.rate_count, 'vot', 'voturi') %></span>
              </li>
          <% end %>
        </ul>
        <%= will_paginate @institutions %>
    <% end %>
<% else %>
    <div>Trebuie sa introduci cel putin un cuvant</div>
<% end %>
