<% if @institutions %>
    <% if @institutions.blank? %>
        <div>Cautarea nu a returnat nimic</div>
    <% else %>
        <ul id="search">
          <%= render @institutions %>
        </ul>
        <%= will_paginate @institutions %>
    <% end %>
<% else %>
    <div>Trebuie sa introduci cel putin un cuvant</div>
<% end %>
