<p>
  Signing in...
</p>

<script type="text/javascript">
  $(document).ready(function() {
    var url_to_redirect;
    url_to_redirect = $("a.rpxnow").attr("href");
    window.location = url_to_redirect;
  });
</script>
